pip install pandas
pip install numpy
pip install matplotlib
pip install seaborn
pip install google-play-scraper
pip install python-dotenv
pip install nltk
pip install textblob
pip install scikit-learn
